<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="mb-3 row">
          <label
            for="table-complete-search"
            class="col-xs-3 col-sm-auto col-form-label"
            >Full text search:</label
          >
          <div class="col-xs-3 col-sm-auto">
            <input
              id="table-complete-search"
              type="text"
              class="form-control"
              name="searchTerm"
              (input)="onSearch($event)"
            />
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">ZIP</th>
              <th scope="col">Weight</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          @if (state$ | async; as state) {
          <tbody>
            @for (shipment of state.shipments; track shipment.id) {
            <tr>
              <th scope="row">{{ shipment.id }}</th>
              <td>
                {{ shipment.status }}
              </td>
              <td>
                {{ shipment.postOffice.zip }}
              </td>
              <td>{{ shipment.weightCategory() }} ({{ shipment.weight }})</td>
              <td>
                <button
                  (click)="remove(shipment.id)"
                  class="btn btn-danger"
                  type="button"
                >
                  Delete
                </button>
              </td>
            </tr>
            } @empty {
            <tr>
              <td>No shipments found</td>
            </tr>
            }
          </tbody>
          }
        </table>
      </form>
    </div>

    <div class="col-md-6">
      <form
        [formGroup]="shipmentForm"
        (ngSubmit)="addShipment(shipmentForm.value)"
      >
        <div class="mb-3">
          <label class="form-label" for="id">Shipment ID</label>
          <input
            class="form-control"
            id="id"
            type="number"
            formControlName="id"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="weight">Weight (kg)</label>
          <input
            class="form-control"
            id="weight"
            type="number"
            formControlName="weight"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="postOfficeId">Post Office ID</label>
          <input
            class="form-control"
            id="postOfficeId"
            type="number"
            formControlName="postOfficeId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="postOfficeZip"
            >Post Office ZIP Code</label
          >
          <input
            class="form-control"
            id="postOfficeZip"
            type="text"
            formControlName="postOfficeZip"
          />
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="shipmentForm.invalid"
        >
          Add Shipment
        </button>
      </form>
    </div>
  </div>
</div>
